<p>Thank you for use this app.</p>

<p>This is app is by <a href="https://twitter.com/crisgonzalez94" class="cream">Cristian Gonzalez</a> , you can view , clone and change the <a href="https://github.com/crisgonzalez94/AngularNotes" class="cream">GitHub repository</a>.</p>

<img src="../../assets/images/profile.jpg" class="img-fluid" alt="Cristian Gonzalez">

<hr>
<h2>Credits:</h2>
<p>
    <strong>This app is was not possible without any resources open sources , i want to thank them.</strong>
</p>
<h3>Resourses:</h3>
<ul>
    <li>
        <a href="https://angular.io" class="cream">Angular</a> , by Google.
    </li>
    <li>
        <a href="https://getbootstrap.com" class="cream">Bootstrap</a> , by <a href="https://getbootstrap.com/docs/4.5/about/team/" class="cream">BootstrapTeam</a>.
    </li>
    <li>
        Amita Font , by <a href="https://www.fontsquirrel.com/fonts/list/foundry/eduardo-tunni" class="cream">Eduardo Tunni</a> and <a href="https://www.fontsquirrel.com" class="cream">Fontsquirrel</a>.
    </li>
    <li>
        The images of this app was edited with <a href="https://www.gimp.org" class="cream">GIMP</a> by <a href="https://www.gimp.org/team.html" class="cream">The GIMP Team</a>.
    </li>
    <li>
        This app is hosted free in its version web in <a href="https://pages.github.com" class="cream">GitHub Pages</a> by <a href="https://github.com" class="cream">GitHub</a>.
    </li>
</ul>