<p>Thank you for use this app.</p>

<p>This is app is by <a href="https://twitter.com/crisgonzalez94">Cristian Gonzalez</a> , you can view , clone and change the <a href="https://github.com/crisgonzalez94/AngularNotes">GitHub repository</a>.</p>

<img src="../../assets/images/profile.jpg" class="img-fluid" alt="Cristian Gonzalez">

<hr>
<h2>Credits:</h2>
<p>
    <strong>This app is was not possible without any resources open sources , i want to thank them.</strong>
</p>
<h3>Resourses:</h3>
<ul>
    <li>
        <a href="https://angular.io">Angular</a> , by Google.
    </li>
    <li>
        <a href="https://getbootstrap.com">Bootstrap</a> , by <a href="">BootstrapTeam</a>.
    </li>
    <li>
        Amita Font , by <a href="https://www.fontsquirrel.com/fonts/list/foundry/eduardo-tunni">Eduardo Tunni</a> and <a href="https://www.fontsquirrel.com">Fontsquirrel</a>.
    </li>
    <li>
        The images of this app was edited with <a href="https://www.gimp.org">GIMP</a> by <a href="https://www.gimp.org/team.html">The GIMP Team</a>.
    </li>
    <li>
        This app is hosted free in its version web in <a href="https://pages.github.com">GitHub Pages</a> by <a href="https://github.com">GitHub</a>.
    </li>
</ul>