<h1>My Notebook</h1>
<hr>

<!--======================================================================
Note card
========================================================================-->
<div *ngFor='let note of notes; let i = index ' class="card note-card bg-cream">
    
    <!--This isn't a modal , but i use this class for to have the close button on the right of the title of the note-->
    <div class="modal-header note-header bg-cream">
        <h5 class="">{{note.title}}</h5>
        <!--This button to deploy a modal for delete this note-->
        <button type="button" class="close " aria-label="Close" data-toggle="modal" data-target="#exampleModal">
          <span aria-hidden="true">&times;</span>
        </button>
        

        
        <!-- Modal for delete note -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure that you want delete this note.</p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Keep</button>
                <button type="button" class="btn btn-danger" (click)='deleteNote(i)' data-dismiss="modal">Delete</button>
                </div>
            </div>
            </div>
        </div>
        <!--=========================================================-->

    </div>

    <div class="card-body bg-light">
        <p class="card-text">{{note.description}}</p>
        
        <!--Button for to deploy notes-->
        <a class="btn btn-cinnamon" data-toggle="collapse" href="#collapseNote{{i}}" role="button" aria-expanded="false" aria-controls="collapseNote">
            View note
        </a>

        <div class="collapse" id="collapseNote{{i}}">
            <br>
            <!--loop over notes array-->
            <ul *ngFor='let work of note.works; let workIndex = index' class="list-group list-group-flush">
                <!--work-->
                
                <li class="list-group-item box-work">
                    <!--This is a span for show the work , has a id with the index of 
                        work for call in typescript
                    This span has a function , if the user push it , the checked of work is active
                    -->
                    <span id="box-work{{workIndex}}" *ngIf='!work.checked' (click)='checkWork(i , workIndex)'>{{work.work}}</span><!--If is not checked-->
                    <span id="box-work{{workIndex}}" class="" *ngIf='work.checked' (click)='uncheckWork(i , workIndex)' ><del>{{work.work}}</del></span><!--If is checked-->
                    
                    <!--Delete note button-->
                    <button type="button" class="close" aria-label="Close" (click)='deleteWork(i , workIndex)' id="deleteWorkButton{{i}}" >
                        <span aria-hidden="true">&times;</span>
                    </button>

                </li>
            </ul>  

            <div class="row box-form-add-work">
                
                <input type="text" class="form-control" id="addWorkInput{{i}}" placeholder="Enter a new work here" [(ngModel)]="newWork" >
                
                
                <button class="btn btn-outline-cinnamon" (click)="addWork(i)" >+</button>
                
                
            </div>
            

      </div>

    </div>
</div>

<!--======================================================================
Make a new note
========================================================================-->
<div class="card">
    <div class="card-body">
        
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-cinnamon" data-toggle="modal" data-target="#staticBackdrop">
            Create a new note
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Create a new Note</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    
                        
                        <div class="form-group">
                            <label for="newNoteTitle" >Note title</label>
                            <input type="text" class="form-control" id="newNoteTitle" [(ngModel)]="newNoteTitle">
                        </div>
                        <div class="form-group">
                            <label for="newNoteDescription">Note description</label>
                            <textarea class="form-control" id="newNoteDescription" rows="3" [(ngModel)]="newNoteDescription"></textarea>
                        </div>
                    

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cinnamon" (click)="addNote()"  data-dismiss="modal">Create new note</button>
                    </div>

                </div>
            </div>
        </div>



    </div>
</div>

<br>